@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  font-family: "Helvetica", sans-serif;
}

h1 span {
  display: flex;
  justify-content: center;
  font-family: "Anton", sans-serif;

  letter-spacing: 5px;
  background-color: black;
  padding: 0.3rem 5rem;
  font-style: italic;
}

.red {
  color: red;
  font-size: 3rem;
  border-right: 10px solid #e0ff00;
}

.container {
  background-color: aqua;
  border: 2.5px solid blue;
  border-radius: 15px;
}
#contenedor {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 0.6rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: 0.5px solid #ccc;
}

.caja {
  width: 550px;
  height: 368px;
  background-color: yellow;
  background-size: cover;
  border: 15px rgb(253, 233, 12) solid;
  padding: 50px;
  margin: 100px;
}

img {
  margin: 0 auto;
  width: 200px;
  height: 200px !important;
  object-fit: cover;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
  border: 1px solid #777;
  border-radius: 5px;
}
.card h3 {
  text-transform: capitalize;
}
.card-action {
  max-width: 100%;
}

.card h3,
p,
button {
  display: flex;
  margin: auto;
}

.box {
  padding: 5px;
}

.listProduct {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.instrucciones {
  margin-top: 20px;
  color: black;
  background-color: rgb(63, 186, 208);
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
}

.mega-container {
  display: grid;
  margin: 0 30%;
}

.mega-container .card {
  display: flex;
  justify-content: center;
}

#secundario {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.selectPais {
  margin: 0 auto;
  margin-top: 0.4rem;
  display: flex;
  justify-self: center;
}

#info {
  display: flex;
  justify-content: center;
}

#botonSwal {
  margin-top: 10px;
}
